<div class="col-md-12">
  <h2> Customer Issue List</h2>
  <table class="table table-striped table-bordered">
    <thead >
    <tr>
      <th class="hidden">Issue_ID</th>
      <th>Customer_ID</th>
      <th>Type Of Issue</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cust of customers.data">
        <td class="hidden">{{cust.customer_Issue_Id}}</td>
      <td >{{cust.customer_Id}}</td>
      <td>{{cust.issue_Type}}</td>
      <td>{{cust.issue_Description}}</td>
      <td><button class="btn btn-danger"> Accept</button></td>
    </tr>
    </tbody>
  </table>
  </div>


  