
           <!-- Content of Dashboard-->
           <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Customer Issue Form</h4>
                <p class="card-description" style="columns: #931445;">
                  * Please fill the below form
                </p>
                <form class="forms-sample"  #f="ngForm" (ngSubmit)="addCustomer(f)" novalidate>
                  <div class="form-group">
                    <label for="exampleInputName1">Customer-Id</label>
                    <input type="text"[(ngModel)]="customer.customer_Id" name="customerId" class="form-control" id="exampleInputName1" placeholder="Customer-Id">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputName2">Issue_Type</label>
                      <input type="text" [(ngModel)]="customer.issue_Type" name="issueType" class="form-control" id="exampleInputName1" placeholder="Customer-Id">
                  </div> 
                  <div class="form-group">
                    <label for="exampleInputPassword4">Issue Description</label>
                    <textarea [(ngModel)]="customer.issue_Description" name="description" class="form-control"  id="exampleTextarea1" rows="4"></textarea>
                  </div>
  
  
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
              </div>
            </div>
        </div>

